pint.annotations/src/main/resources/omim.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="omim">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entryList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="prefix" minOccurs="0"/>
                    <xs:element type="xs:int" name="mimNumber"/>
                    <xs:element type="xs:string" name="status"/>
                    <xs:element name="titles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="preferredTitle"/>
                          <xs:element type="xs:string" name="alternativeTitles" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>